.footer-bg {
  background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(58,78,67,1) 50%, rgba(28,28,28,1) 100%);
  color: white;
}

.section-one-paragraph{
  max-width: 300px;
  margin-bottom: 32px;
}

.mat-mdc-list {
  .mat-body {
    color: #fff;
  }
}

.mdc-text-field {
  color: white;
}
