<footer>
  <div fxLayout="row" class="pd16 pd32-t pd32-b footer-bg">
    <div fxFlex.gt-sm="10"></div>
    <div fxFlex fxLayout="row wrap">
      <div fxFlex.lt-md="*" fxFlex.gt-sm="30" class="mrg32-r">
        <p class="mat-body section-one-paragraph">
          Our mission is to help everyone to make their site without coding
          knowledge, just a few clicks away.
        </p>
        <div fxLayout="row" fxLayoutAlign="start center" class="mrg8-t">
            <mat-icon [inline]="true">location_on</mat-icon>
            <span class="mat-body mrg0">&nbsp;4459 Hillview Street, Columbia</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="mrg8-t">
            <mat-icon [inline]="true">watch_later</mat-icon>
            <span class="mat-body mrg0">&nbsp;Open Mon – Fri 10:00-18:00</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="mrg8-t">
            <mat-icon [inline]="true">smartphone</mat-icon>
            <span class="mat-body mrg0">&nbsp;1-234-567-8901</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="mrg8-t">
            <mat-icon [inline]="true">chat</mat-icon>
            <span class="mat-body mrg0">&nbsp;skypename_example</span>
        </div>
      </div>
      <div fxFlex.lt-md="*" class="mrg32-r">
        <mat-list fxLayout="column" role="list">
            <a matListItem class="mat-body mrg8-t" href="#who-we-are-section">Who We Are</a>
            <a matListItem class="mat-body mrg8-t" href="#our-goal-section">Our Goal</a>
            <a matListItem class="mat-body mrg8-t" href="#">Our Results</a>
            <a matListItem class="mat-body mrg8-t" href="#why-choose-us-section">Why Choose Us</a>
            <a matListItem class="mat-body mrg8-t" href="#our-proficiency-section">Services</a>
            <a matListItem class="mat-body mrg8-t" href="#our-store-section">E-Commerce</a>
            <a matListItem class="mat-body mrg8-t" href="#blogs-section">Blog</a>
            <a matListItem class="mat-body mrg8-t" href="#get-free-quote-section">Get a Free Quote</a>
        </mat-list>
      </div>
      <div fxFlex>
        <p class="mat-body">Our team is ready to review your website’s SEO aspects and provide some tips to help you increase traffic.</p>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-form-field fxFlex="48" appearance="outline" class="mp-field">
                <!-- <mat-label>Name</mat-label> -->
                <input matInput placeholder="Name" required>
            </mat-form-field>
            <mat-form-field fxFlex="48" appearance="outline" class="mp-field">
                <!-- <mat-label>Email</mat-label> -->
                <input matInput placeholder="Email" required>
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="outline" class="mp-field">
                <!-- <mat-label>Your Message</mat-label> -->
                <textarea matInput placeholder="Your Message"></textarea>
            </mat-form-field>
            <a fxFlex="100" class="mat-body mp-button" color="primary" click="" mat-raised-button>Send Message</a>
        </div>
      </div>
    </div>
    <div fxFlex.gt-sm="10"></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="pd16 footer-bg">
    <p class="mat-body-2 color-white">© Copyright 2023. All Rights Reserved</p>
  </div>
</footer>
